.form-login {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    &__div {
        width: 100%;
    }

    :first-child {
        padding-bottom: 10px;
    }

    :nth-child(3) {
        margin-top: 30px;
        width: 200px;
    }
}