// -------fonts-------
$font-regular: 'Poppins Regular';
$font-semi-bold: 'Poppins Semi Bold';
$font-bold: 'Poppins Bold';

// -------colors-------
$color-background: #121829;
// gray variations
$color-font-header-gray: #A8AEBF;
// $color-font-paragraph-gray: #8E95A9;
$color-input-font-gray: #475069;
$color-input-border-gray: #323B54;
$color-input-background-gray: #0000001a;
$color-input-background-gray-no-transparent: #191d2f;
$color-filter-pills-background-dark: rgba(0, 0, 0, 0.20);
$color-moive-genre-backslash: #8996A1;
$color-card-background-dark: #20283ECC;
$color-movie-card-background-dark: #040404c9;
$color-movie-card-star-background-dark: #20283ecc;
$color-font-paragraph-gray: #767E94;
$color-font-actors-gray: #C3C8D4;
// basic
$color-primary-blue: #5A4AF4;
$color-secondary-blue: #1EA5FC;
$color-tertiary-blue: #BEB7FB;
$color-button-movie: #7B6EF6;
$color-warning: #FFAD49;
$color-success: #05CE91;
$color-error: #FF6161;
$color-tertary: #B66DFF;
$color-white: #ffffff;
$color-black: #000000;

// -------responisve units-------
$screen-small: 375px;
$screen-medium: 834px;
$screen-large: 1280px;